# Copy this file to .env.local and fill in local secrets.
# .env.local is ignored by git and loaded by scripts/start-*.sh.

SPRING_PROFILE='local'
BACKEND_PORT='8081'
FRONTEND_PORT='3004'
JAVA_HOME=''

DASHSCOPE_API_KEY=''
DASHSCOPE_ENABLE_THINKING='false'
DASHSCOPE_REALTIME_ENABLED='true'
DASHSCOPE_REALTIME_URL='wss://dashscope.aliyuncs.com/api-ws/v1/realtime'
DASHSCOPE_REALTIME_MODEL='qwen3.5-omni-flash-realtime'
DASHSCOPE_REALTIME_VOICE='Ethan'
DASHSCOPE_REALTIME_TRANSCRIPT_WAIT_MS='5000'
DASHSCOPE_REALTIME_RESPONSE_WAIT_MS='20000'
DASHSCOPE_REALTIME_VOICE_OUTPUT_ENABLED='true'
DASHSCOPE_REALTIME_VOICE_OUTPUT_WAIT_MS='12000'

DB_JDBC_URL='jdbc:mysql://8.136.219.184:3306/defense_test?useUnicode=true&characterEncoding=UTF-8&useSSL=false&zeroDateTimeBehavior=convertToNull&useTimezone=true&serverTimezone=GMT%2B8&allowMultiQueries=true'
DB_USERNAME='defense_test'
DB_PASSWORD=''

DB_TUNNEL_ENABLED='false'
DB_TUNNEL_LOCAL_HOST='127.0.0.1'
DB_TUNNEL_LOCAL_PORT='13307'
DB_TUNNEL_REMOTE_HOST='127.0.0.1'
DB_TUNNEL_REMOTE_PORT='3306'
DB_TUNNEL_SSH_HOST=''
DB_TUNNEL_SSH_USER='root'
DB_TUNNEL_SSH_PASSWORD=''

REDIS_PASSWORD=''
JETCACHE_REDIS_URI='redis://127.0.0.1:6379/0'

ALIYUN_OSS_ENDPOINT='oss-ap-southeast-1.aliyuncs.com'
ALIYUN_OSS_ACCESS_KEY_ID=''
ALIYUN_OSS_ACCESS_KEY_SECRET=''
ALIYUN_OSS_BUCKET='defense-assessment-new'
