# Copy this file to .env.local and fill in local secrets.
# .env.local is ignored by git and loaded by scripts/start-*.sh.

SPRING_PROFILE='local'
BACKEND_PORT='8081'
FRONTEND_PORT='3004'
JAVA_HOME=''

DASHSCOPE_API_KEY=''
DASHSCOPE_ENABLE_THINKING='false'

DB_JDBC_URL='jdbc:mysql://8.136.219.184:3306/defense_test?useUnicode=true&characterEncoding=UTF-8&useSSL=false&zeroDateTimeBehavior=convertToNull&useTimezone=true&serverTimezone=GMT%2B8&allowMultiQueries=true'
DB_USERNAME='defense_test'
DB_PASSWORD=''

REDIS_PASSWORD=''
JETCACHE_REDIS_URI='redis://127.0.0.1:6379/0'

ALIYUN_OSS_ENDPOINT='oss-ap-southeast-1.aliyuncs.com'
ALIYUN_OSS_ACCESS_KEY_ID=''
ALIYUN_OSS_ACCESS_KEY_SECRET=''
ALIYUN_OSS_BUCKET='defense-assessment-new'
